@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
}

html, body {
  margin: 0;
  padding: 0;
     
  overflow: auto;
}

body{
    background-image: url(imagens/sombreado.png);
    background-repeat: no-repeat;
    background-size: cover;      /* Estica a imagem para cobrir tudo */
    background-position: top; /* Mantém o foco no meio */
    background-attachment: fixed; /* Opcional: a imagem não sobe quando você rola a página */
    
    display: block;
}

header{
    margin: 30px;
    
}

.logo{
    max-width: 120px;
}

.content{
    margin: 30px;
    height: 50%;
    font-size: 30px;
    margin-top: 30%;
}

.textBox{
    color: white;
    font-weight: 300;
    justify-content: center;
    display: block;
    position: absolute;
    top: 40%;
}

.textBox strong{
    color: #3FAB46;
    font-size: 75px;
}

.social-mae{
    display: flex;
    position: absolute;
    transform: translateY(-50%);
    right: 10px;
    top: 50%;
    color: white;
}

.social-midia{
     filter: invert(1);;
}

li{
    list-style: none;
     filter: invert(1);;
}

.botao1{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #3FAB46;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    margin-right: 10px;
}

.botao2{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #3FAB46;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}